
body{
  font-family: sans-serif;
}

@media all and (min-width:991px) {

  .navbar{
    width:80%;
    position: absolute;
    left: 10%;
  }
  
}
.header{
  
  width: 100%;
  height: 700px;
  background-image: url(../images/1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  


}


.logo1{
  font-family: cursive;
  font-size: x-large;
  font-weight: bolder;
  color: darkblue;
  
}
.logo2{
 
  font-size: large;
  font-weight: bolder;
  color: rgb(68, 153, 238);
}
.custom-nav-item{
  
  
  font-weight: bold;
  color: darkblue;

}
.cards-bg {
background-color: rgb(213, 237, 248);
overflow: inherit;

}
.heading{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bold;
}
